services:
  agent:
    build:
      context: ./agent
      dockerfile: Dockerfile
    ports:
      - "5174:5174"
    env_file:
      - ./agent/.env
    volumes:
      - ./agent:/app
      - /app/node_modules

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - agent
